#wrap {max-width: 360px; max-height: 720px; margin: 5rem auto; display: flex; flex-flow: column; border-radius: 1rem; border:1px solid #ccc; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);}
#wrap > * {padding: 2rem;}
#wrap h1 {font-size: 3rem; font-weight: 800;line-height: 6rem; height: 10rem; text-align: center;}
#wrap > label {display: flex; justify-content: space-between; border:1px solid #ccc; width: 60%; margin: auto; background: #333; height: 5rem; padding: 0; border-radius: 0.5rem;}
#wrap > label > * {line-height: calc(5rem - 2px); height: calc(5rem - 2px); font-size: 1.2rem;}
#wrap > label #persons {width: 70%; outline: none; background: unset; color:#fff; text-indent: 1rem;}
#wrap > label span {color:#fff; padding: 0 1rem;}
#wrap > label #inputBtn {color:#fff; padding: 0 1rem;}
#wrap #gameForm {}
#wrap #gameForm .personWrap {display: flex; flex-flow: column;}
#wrap #gameForm .personWrap label {border:1px solid #ccc; margin-bottom: 0.5rem; padding:1rem; display: flex; justify-content: space-between; border-radius: 0.5rem;}
#wrap #gameForm .personWrap label > * {font-size: 1.2rem;}
#wrap #gameForm .personWrap label span {width: 5rem;}
#wrap #gameForm .personWrap label span + input[type="text"] {width:calc(100% - 5rem); outline: none;}
#wrap #gameForm .personWrap + #startBtn {font-size: 1.5rem; font-weight: 800; width: 50%; line-height: 3rem; height: 3rem; text-align: center; margin: auto; display: block;}