#wrap {max-width: 360px; max-height: 720px; margin: 5rem auto; display: flex; flex-flow: column; border-radius: 1rem; border:1px solid #ccc; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);}
#wrap > * {padding: 2rem;}
#wrap #wordWrap {}
#wrap #wordWrap h1 {font-size: 3rem; font-weight: 800;line-height: 6rem; height: 6rem; text-align: center;}
#wrap #wordWrap .keywordZone {display: block;width: 100%; height: 8rem; background: #333; border-radius: 0 1rem 1rem; position: relative; margin-top: 2.5rem;}
#wrap #wordWrap .keywordZone p:first-child {color:#fff; position: absolute; left: 0rem ; top:-2.5rem;  font-size: 1.4rem; background: #ba3939; width: 5rem; height: 2.5rem; line-height: 2.5rem;text-align: center; border-radius: 0.5rem 0.5rem 0 0;}
#wrap #wordWrap .keywordZone .wordRecord {color:#fff; font-size: 5rem; line-height: 8rem; text-align: center;}
#wrap #enterWrap {display: flex; flex-flow: column;}
#wrap #enterWrap > * {margin-bottom: 1rem;}
#wrap #enterWrap .player {font-size: 1.4rem;}
#wrap #enterWrap .timeWrap {font-size: 1.4rem;}
#wrap #enterWrap #wordZone {border: 1px solid #ccc; border-radius: 0.5rem; outline: none; line-height: 3rem; font-size: 2rem;text-indent: 1rem;}
#wrap #enterWrap #inputBtn { border: 1px solid #ccc; border-radius: 0.5rem; margin-bottom: 0; line-height: 3rem; font-size: 1.4rem; font-weight: 800;}
#wrap #enterWrap #inputBtn:hover {border:1px solid #ba3939; color:#ba3939}