#wrap {display: flex; flex-flow: column; justify-content: center; align-items: center; width: 90%; max-width: 360px; min-height: 80vh; margin: 5rem auto;}
#wrap h1 {font-size:2rem; font-weight: 800; margin-bottom: 1rem;}
#wrap p {width: 100%;}
#wrap p img {width: 100%;}
#wrap a {display: block; border-radius: 5rem; padding: 1.5rem 4rem; font-size: 2rem; font-weight: 800; background: linear-gradient(-125deg, #4a90c7, #365a7d); color:#fff; }
#wrap a:hover {background: #fff; border: 1px solid #365a7d; color:#365a7d}