#wrap {width: 100%; margin: auto; min-height: 100%; background: #333;}
#wrap #fever {position: absolute; font-size: 30px; font-weight: 800; text-align: center; left: 50%; bottom:105px; width: 100%; transform: translateX(-50%); color: #fff; z-index: 200; opacity: 1; transition: opacity 1s; line-height: 50px;}
#wrap #fever::before {content:''; display: block; width: 100%; height: 50px; animation: backgroundAni 0.5s infinite; position: absolute; left: 0; bottom:0;z-index: -1;}
#wrap #fever.animation {animation-name: aniIn; animation-duration: 0.5s; animation-timing-function:ease-in-out}
/* #wrap #fever.animationOut {animation-name: aniOut; animation-duration: 1s; animation-timing-function:ease-in-out} */
#wrap #fever.animationOut {opacity: 0;}
#wrap #score { display: flex; padding: 0.5rem 2rem; border-radius:3rem; position: absolute; right: 1rem; top:1rem; background: #f3f1e7; z-index: 150;}
#wrap #score > * {font-size: 3rem; color:#333; font-family: 'TmoneyRoundWind'; font-weight: 800;}
#wrap #score em {color:#cc7b57;}
#wrap #score span {}
#wrap #combo {position: absolute; left:1rem; top:1rem; z-index: 200;background: #f2f1e8; padding: 0.5rem 2rem; border-radius: 3rem; }
#wrap #combo > * {font-size: 3rem; color:#333; font-family: 'TmoneyRoundWind'; font-weight: 800;}
#wrap #combo em {color:#cc7b57;}
#wrap #combo span {}
#wrap #time {position: absolute; right: 1rem; top:6rem; z-index: 100;}
#wrap #time > * {color: #fff; font-size: 3rem; font-family: 'TmoneyRoundWind'; font-weight: 800;}
#wrap .rabbitZone {position: fixed; left: 0; top:0; right: 0; display: flex; justify-content: flex-end; flex-flow: column; align-items: center; min-height: calc(100% - 105px);background: url(../img/background.png) no-repeat center / cover;}
#wrap .rabbitZone #center {order:2; z-index: 100;height: 125px;}
#wrap .rabbitZone #center span {display: block; height: 100%;}
#wrap .rabbitZone #center img {height: 100%;}
#wrap .rabbitZone .standBy {display: flex; flex-flow: column-reverse;order:1;}
#wrap .rabbitZone .standBy span {height: 50px;}
#wrap .rabbitZone .standBy span img {height: 100%;}
#wrap .rabbitZone .standBy span:nth-child(1) {transform: translateY(10px) scale(2); z-index: 90;}
#wrap .rabbitZone .standBy span:nth-child(2) {transform: translateY(-5px) scale(1.8); z-index: 80;}
#wrap .rabbitZone .standBy span:nth-child(3) {transform: translateY(-10px) scale(1.6); z-index: 70;}
#wrap .rabbitZone .standBy span:nth-child(4) {transform: translateY(-15px) scale(1.4); z-index: 60;}
#wrap .rabbitZone .standBy span:nth-child(5) {transform: translateY(-20px) scale(1.2); z-index: 50;}
#wrap .rabbitZone .food {order:3; width: 100px; padding: 2rem 0;}
#wrap .rabbitZone .food img {width: 100%;}
#wrap .control {display: flex; justify-content: space-around; align-items: center; padding: 1rem 0; background: #fff; position: fixed; left: 0; right: 0; bottom:0; height: 105px;}
#wrap .control button {height: 80px;}
#wrap .control button img {height: 100%;}

@media screen and (min-height : 750px) {
    /*반응형*/
    #wrap .rabbitZone .food {width: 150px;}
    #wrap .rabbitZone #center {height: 150px;}
    #wrap .rabbitZone .standBy span:nth-child(1) {transform:translateY(5px) scale(2.5);}
    #wrap .rabbitZone .standBy span:nth-child(2) {transform:translateY(-25px) scale(2.3);}
    #wrap .rabbitZone .standBy span:nth-child(3) {transform:translateY(-50px) scale(2.1);}
    #wrap .rabbitZone .standBy span:nth-child(4) {transform:translateY(-75px) scale(1.9);}
    #wrap .rabbitZone .standBy span:nth-child(5) {transform:translateY(-100px) scale(1.7);}
    #wrap .rabbitZone .standBy span:nth-child(6) {transform:translateY(-125px) scale(1.5);}

}

@keyframes aniIn {
    0% {left: -50%;}
    /* 30% {left: 20%;} */
    100% {left: 50%;}
}
@keyframes aniOut {
    0% {left: 50%;}
    10% {left: 45%;}
    100% {left: 150%;}
}
@keyframes backgroundAni {
    0% {background: url(../img/line.png) no-repeat left top / 200%;}
    50% {background: url(../img/line.png) no-repeat left top / 200%;}
    51% {background: url(../img/line.png) no-repeat right top / 200%;}
    100% {background: url(../img/line.png) no-repeat right top / 200%;}
}