table {}
table thead {}
table thead tr {display: flex;}
table thead tr > * {text-align: left;}
table thead tr th:nth-child(1) {width: 10%;}
table thead tr th:nth-child(2) {width: 90%;}
table tbody {display: flex; flex-flow: column;}
table tbody tr {display: flex; }
table tbody tr th {width: 10%; text-align: left;}
table tbody tr td {width: 45%; line-height: 1.4;}
table tbody tr td img {width: 100%;}